# macOS
.DS_Store

# Txt file where there is some cli prompts
.txt

# Log file that program can create
*.log

# Folder where the program stores the downlaoded images
discord_images/

# Pyhton local development ambient
.venv/